@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap');
@import url("https://p.typekit.net/p.css?s=1&k=qbb8ieo&ht=tk&f=15780.15782.37496.37497.42300.42301.42302.42303&a=104262156&app=typekit&e=css");
* {
    margin: 0;
    padding: 0;
}

/* navbar */
.nav-link {
    margin-right: 20px;
}

/* tombol */
.btn-1 {
    border-radius: 100px;
    width: 205px;
    height: 40px;
    border: none;
    color: yellow;
    background-color: #f47522;
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-out 0.3s;
}



/* Fonts */

.font-Roboto {
    font-family: 'Roboto', sans-serif;
}

.font-Poppins {
    font-family: 'Poppins', sans-serif;
}

.font-Muli {
    font-family: "muli", sans-serif;
}

.fw-900 {
    font-weight: 900;
}


/* Color */

.txt-darkblue {
    color: #19345e;
}

.txt-orange {
    color: #f47522;
}

.bg-liteblue {
    background-color: #b3def12c;
}

.bg-darkblue {
    background-color: rgb(25, 52, 94);
}

.bg-opacity-75 {
    background-color: rgba(25, 52, 94, .75);
    height: 80vh;
}

.bg-orange {
    color: #000;
    background-color: #f47522;
}

/* Form focus */

.orange-border .form-control:focus {
    border: 1px solid #F47522;
    box-shadow: 0 0 0 0.2rem rgba(244, 117, 34, .25);
}


/* Form kanan */

.form-kanan {
    margin-top: 50px;
}

.form-kiri {
    margin-top: 50px;
}

/* Frame Area */

.frame-photo {
    border: 1px solid;
    border-width: 10px!important;
    position: relative!important;
    right: 1vw;
    bottom: 22em;
    padding: 7.5em 0;
    margin: 0 6em;
}

.frame-darkblue {
    border-color: #19345e;
}

.frame-orange {
    border-color: #f47522;
}

.gambar {
    width: 320px;
    height: 399px;
    background-image: url(/images/shutterstock_796346011@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .frameOrange{
    width: 320px;
    height: 399px;
    border: 10px solid #f47522;
    position: relative!important;
    z-index: 100;
    top:30px;
    left:-30px
  }

  .frameDarkBlue{
    width: 320px;
    height: 399px;
    border: 10px solid #19345e;
    position: relative!important;
    z-index: 100;
    top:30px;
    left:-30px
  }

/* Other */

.achievements img {
    width: 40px;
    height: 40px;
}

#bg-everyone {
    background-image: url(./images/bg-people@2x.png);
    background-size: cover;
}

.posted {
    width: 100%;
}

.footer-social {
    justify-content: center;
}


/* Responsive Settings */

@supports (display: flex) {
    @media screen and (max-width: 1399px) {
        .frame-photo {
            right: 20px;
            padding: 136px 0;
            margin: 0px 50px;
            top: -380px;
        }
    }
}