.txt-darkblue {
    color: #19345e;
}

.txt-orange {
    color: #f47522;
}

.bg-liteblue {
    background-color: #b3def12c;
}

.bg-darkblue {
    background-color: #19345e;
}

.bg-orange {
    color: #000;
    background-color: #f47522;
}

#navigation {
    padding-left: 7vw;
    padding-right: 8vw;
}

#foot {
    padding-left: 7vw;
}

.achievements img {
    width: 40px;
    height: 40px;
}