@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p {
    font-weight: 400;
    color: rgb(25, 52, 94);
}

.txt-darkblue {
    color: #19345e;
}

.txt-orange {
    color: #f47522;
}

.bg-liteblue {
    background-color: #b3def12c;
}

.bg-darkblue {
    background-color: rgb(25, 52, 94);
}

.bg-orange {
    color: #000;
    background-color: #f47522;
}

#navigation {
    padding-left: 7vw;
    padding-right: 8vw;
}

#foot {
    padding-left: 7vw;
}

.achievements img {
    width: 40px;
    height: 40px;
}

#bg-everyone {
    background-image: url(./images/bg-people@2x.png);
    background-size: cover;
}

.bg-opacity-75 {
    background-color: rgba(25, 52, 94, .75);
    height: 80vh;
}

#latest .col img {
    width: 100%;
}